*.plt
doc
ebin
deps
.DS_Store
log
logs
admin/nbproject/
admin/config/*.yml
erl_crash.dump
*.beam
config/erlang/*.config
gproc_*
*.swp
*.swo
*.swn
*.log
!production.config
!whisper.config
whisper_validator*
