[{pingterest,[
           {web_host, "127.0.0.1"},
           {web_port, 4001},
           {mysql_host, "localhost"},
           {mysql_port, 3306},
           {mysql_user, "pingterest"},
           {mysql_pwd, "nohayping"},
           {mysql_db, "pingterest"},
           {notifiers, [email_notifier,twitter_notifier]},
           {email_host,"smtp.gmail.com"},
           {email_port,465},
           {email_name, "Pingterest Notifier"},
           {email_addr, "alerts@pingtere.st"},
           {email_pwd, "nohayping"},
           {twitter_consumer, "Kz6TGqHrxYipcahjz4Og"},
           {twitter_consumer_secret, "pJuUfvWjMC557JmYjm1y9uPJjgjjFfMDSxU4Pddbg"},
           {twitter_token, "629542037-EkdGceVb4GfdLDytNefjwAuO9gFIf9fCqkY9q24s"},
           {twitter_token_secret, "tS7WJRm33Zt8201Titrc0EzHBUNuw7WCfeBzxplQ9hU"}
            ]},
 {lager, [{handlers, [
       {lager_console_backend, info},
            {lager_file_backend, [
              {"/var/log/pingterest/error.log", error, 10485760, "$D0", 5},
                {"/var/log/pingterest/console.log", info, 10485760, "$D0", 5}
            ]}
      ]},
      {crash_log, "/var/log/pingterest/crash.log"}]}
].

